.navbar {
    display: flex;
    justify-content: space-between;
}

div.content {
    margin-top: 50px;

    background-color: black;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

a {
    text-decoration: none;
}

.des h2 {
    color: white;
}

.renk {
    border: 2px white solid;
    padding: 10px 10px;
}

.lamo {
    display: flex;
    justify-content: space-between;
}

.lol h1 {
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 20px;

}

.lol table {
    font-family: 'Oswald', sans-serif;

}

.althome {

    display: flex;
    justify-content: space-around;

}

.navbar img {
    height: 42px;
    width: 42px;
}

h1 {
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;

}

h3 {
    font-family: 'Oleo Script', cursive;
}

.head {
    display: flex;
    justify-content: space-around;
    color: white;
}

.coin-row {
    display: flex;
    justify-content: space-around;
    background-color: #8e9aaf;
    border: 4px #efd3d7 solid;
    text-align: center;
    vertical-align: center;
    color: black;
    font-size: 1.3em;
    padding-top: 30px;
    font-weight: bolder;
    margin: 20px 0px;

}



.coin-row img {
    width: 50px;
    height: 50px;
}

.box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;

}

h4 {
    color: white;
}

.thiscant {
    display: flex;
    justify-content: space-between;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px white solid;
    max-width: 50%;
}

.th-img {
    display: flex;
    justify-content: space-between;
}

.th-img img {
    width: 900px;
    height: 600px;

}

iframe {
    width: 100%;
    height: 650px;



}

.cpy {

    color: white;
    font-size: .5rem;
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Acme', sans-serif;
    color: white;
}

body {

    margin: 0px 20px;
    background-color: black;
}

.damn img {
    width: 100%;
    height: 170px;
}

.img-2 img {
    height: 400px;
    width: 100%;
}

.corousel {
    color: white;
    max-width: 500px;
    display: flex;
    justify-content: space-around;

}

.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
}

.rank {
    margin: .5 0;
}

.rank-btn {
    border: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #6900ff;
    border-radius: 8px;
    padding: .2rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td,
th {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #d3d3d3;
}

.about h3 {
    margin: 1rem 0;
}

table {
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}

.car {
    color: white;
}

.table {
    border: 2px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    /* margin-left: 200px; */
}

.about {
    color: white;
    text-align: center;
}

.about h1 {
    text-align: center;
}

.newscon {
    display: flex;
    justify-content: center;
    height: 50%;
}

.bttn {
    font-family: 'Acme', sans-serif;
    color: blue;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

.last {

    background-color: #d3d3d3;
    padding: 15px 15px;
    border-radius: 15px;
    border: 3px black solid;
}

.last img {
    height: 40px;
    width: 40px;
}

@media (max-width: 500px) {
    .content {
        display: flex;
        flex-direction: column;



    }

    .th-img {
        display: flex;
        flex-direction: column;



    }

    .nos {
        max-width: 100%;
    }

    .th-img img {
        max-width: 100%;
        height: 400px;
    }

    .box {
        align-items: center;
        margin-left: 100px;
    }

    .content img {
        width: 100%;
    }

    .content h3 {
        text-align: center;
    }

    .hide-mobile {
        display: none;
    }

    .thiscant form {
        display: none;
    }

    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,
    th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }

    .pol {
        max-width: 100%;
    }
}